@using AngleSharp.Network.Default
@using CloudIntegration
@using CloudIntegration.SupportedCourse
@model List<CloudIntegration.SupportedCourse.SupportedCourse>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course generator</title>
</head>
<body>
    <h1>
        Supported courses
    </h1>

    @foreach (var supportedCourse in Model)
    {
        <div style="margin-top: 16px">
            <h3>@supportedCourse.Course.CourseName</h3>
            <div>
                <strong>Generate:</strong>
            </div>
            <div style="margin-top: 8px">
                <a href="@Url.RouteUrl("api", new { controller="generate", action = "index", projectId = supportedCourse.Course.Projectid})" target="_blank">
                    All
                </a>
            </div>

            @foreach (var version in supportedCourse.Versions)
            {
                <div style="margin-top: 8px">
                    <a href="@Url.RouteUrl("api", new { controller="generate", action = "index", projectId = supportedCourse.Course.Projectid, version = version})" target="_blank">@version</a>
                </div>
            }
        </div>
    }

</body>
</html>
