@using AngleSharp.Network.Default
@using CloudIntegration
@using CloudIntegration.Models
@model List<CloudIntegration.Models.PackageDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course generator</title>
</head>
<body>
    <h1>
        Supported courses
    </h1>

    @foreach (var packageDto in Model)
    {
        <div style="margin-top: 16px">
            <h3>@packageDto.Package.CourseName</h3>
            <div>
                <strong>Generate:</strong>
            </div>
            <div style="margin-top: 8px">
                <a href="@Url.RouteUrl("api", new { controller="generate", action = "index", courseId = packageDto.Package.CourseId, projectId = packageDto.ProjectId})" target="_blank">
                    Rebuild
                </a>
            </div>
        </div>
    }

</body>
</html>
