@model List<Web.Models.SupportedPackageDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course generator</title>
</head>
<body>
    <h1>
        Supported courses
    </h1>

    @foreach (var supportedCourse in Model)
    {
        <div style="margin-top: 16px">
            <h3>@supportedCourse.Package.CourseName</h3>
            <div style="margin-top: 8px">
                Last rebuild (UTC): <em>@supportedCourse.Log?.TimestampUTc</em>
            </div>
            <div style="margin-top: 8px">
                <a href="@Url.RouteUrl("api", new { controller="generate", action = "index", courseId = supportedCourse.Package.CourseId, projectId = supportedCourse.ProjectId})" target="_blank">
                    Rebuild
                </a> | 
                <a href="@Url.RouteUrl("api", new { controller="generate", action = "index", courseId = supportedCourse.Package.CourseId, projectId = supportedCourse.ProjectId, debug = true})" target="_blank">
                    Rebuild with debug
                </a> 
            </div>
        </div>
    }

</body>
</html>
